*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    margin-right: -10px;
}

#main{
    background: #E5E5E5;
}

  [class*="col-"] {
    float: left;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  [class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  @media only screen and (min-width: 1025px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.grid{
    display: grid;
}

.flex{
  display: flex;
}

#sidebar{
  background: linear-gradient(180deg, #2FA7FF 0%, #0C75C4 88.54%, #2268A7 100%);
}

#logo-2 p{
  margin-top: 18px; 
  width: 70%;
  color: white;
  font-size: 18px;
  font-family: Arial;
}

.sidebar-text{
  font-size: 16px;
  color: white;
  font-family: Arial;
}

.siderbar-icon{
  margin-left: 15px;
  margin-bottom: 17px;
}

#header-pc{
  margin-left: 2%;
  margin-top: 13px;
  margin-right: 0%;
}

#lochoso{
  background: #E4EFF8;
  border-radius: 20px;
  width: 221px;
  height: 36px;
  color: #2268A7;
}

#lochoso > p{
  font-size: 15px;
  font-family: Arial;
  margin-top: 10px;
  margin-left: 10px;
}

#header-pc >ul{
  margin-left: 100px;
  margin-right: 0%;
}

#header-pc >ul>li{
  margin-right: 23px;
  font-size: 15px;

}

#logout{
  background: #3797DD;
  border-color: #3797DD;
  border-radius: 5px;
  height: 34px;
  color: white;
  width: 150%;
  font-family: Arial;
}

#contact{
  background: #FFFFFF;
  height: 52px;
  margin-top: 82px;
  margin-left: 2%;
}

#contact li>img{
  margin-top: -42px;
}
#contact li{
  margin-right: 3%;
}

#form{
   background: #FFFFFF;
   margin-top: 24px;
   margin-left: 2%;
}

.form-title > h3{ 
  color: #2268A7;
  font-family: Arial;
}

.form-title p{
  margin-top: 25px;
  width: 150%;
}

.form-title b{
  font-size: 16px;
  font-family: Arial;
}

.box-1{
  width: 100%; 
  height: 40px;
  border-radius: 5px;
}

.box-2{
  width: 390px; 
  height: 40px;
  border-radius: 5px;
}

.range{
  margin-right: 34px;
}

.form-left{
  margin-left: 2%;
}

.submit{
  margin-top: 58px;
}

#dangtin{
  background: linear-gradient(90deg, #3797DD 0%, #72C3FF 106.9%);
  height: 40px;
  border-color: linear-gradient(90deg, #3797DD 0%, #72C3FF 106.9%);
  width: 145px;
  font-size: 18px;
  font-family: Arial;
  color: white;
  border-radius: 5px;
}

#huy{
  background: white;
  height: 40px;
  border-color: linear-gradient(90deg, #3797DD 0%, #72C3FF 106.9%);
  width: 145px;
  font-size: 18px;
  font-family: Arial;
  color: #3797DD;
  border-radius: 5px;
}

#footer-list{
  background: #2767A5;
  height: 50px;
}

#footer-list li{
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

#footer-list li>a{
  text-decoration: none;
  color: white;
}

#footer-list li>a:hover{
  color: tomato;
}

#footer-contact{
  background: linear-gradient(225.02deg, #366593 24.99%, #072541 134.14%);
  height: 295px;
}

#footer-contact > div{
  flex: 1;
  margin-left: 5%;
  margin-top: 37px;
}

#footer-contact .lienhe > p{
  color: white;
  margin-top: 15px;
  font-size: 16px;
  font-family: Arial;
}

.doitac{
  color: white;
  font-size: 16px;
  font-family: Arial;
}

#footer-contact > div >h2{
  margin-bottom: 21px;
}

.app{
  height: 42px;
  border-radius: 30px;
  width: 204px;
  background: #FFFFFF;
  margin-top: 10px;
  color: #0D4778;
}