@media (max-width: 1140px){
	#nav-pc{
		display: none;
	}
	#nav-tablet{
		display: block;
		margin-right: 10%;
	}

	#nav-tablet ul li{
		float: right;
		margin-top: 17px;
		margin-left: 2%;
	}

	#nav-tablet button{
		background: #40A6F2;
		border-color: #40A6F2;
		border-radius: 3px;
		color: white;
		width: 161%;
		height: 28px;
		font-family: Arial;
		font-size: 14px;
	}
}

@media (max-width: 768px){
	.content-1-mobile{
		display: none;
	}

	.content-2-mobile{
		display: block;
	}

	#content-3{
		display: block;
		background-clip: 1000px;
	}

	#content-3-btn{
		margin: 25%;
	}

	#content-3-2{
		display: none;
	}

	#content-4{
		display: block;
	}

	#content-4-1{
		display: none;
	}

	#content-4-btn{
		margin-right: 25%;
	}


	#content-5{
		display: block;
	}

	#content-5-2{
		display: none;
	}
}